@use "../../styles/variables.scss" as *;

.toc {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  min-height: 1.4rem;
  flex: 0 0.5 auto;
  &:has(button.toc-header.collapsed) {
    flex: 0 1 1.4rem;
  }
}

button.toc-header {
  background-color: transparent;
  border: none;
  text-align: left;
  cursor: pointer;
  padding: 0;
  color: var(--gray);
  display: flex;
  align-items: center;

  & h3 {
    font-family: var(--codeFont);
    font-size: 0.68rem;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    display: inline-block;
    margin: 0;
  }

  & .fold {
    margin-left: 0.5rem;
    transition: transform 0.3s ease;
    opacity: 0.8;
  }

  &.collapsed .fold {
    transform: rotateZ(-90deg);
  }
}

ul.toc-content.overflow {
  list-style: none;
  position: relative;
  margin: 0.75rem 0;
  padding: 0;
  max-height: calc(100% - 2rem);
  overscroll-behavior: contain;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.35rem;

  & > li {
    border-left: 1px solid var(--lightgray);

    &.depth-0 {
      border-left-color: var(--lightgray);
    }
  }

  & > li > a {
    display: block;
    padding: 0.1rem 0 0.1rem 0.75rem;
    font-size: 0.85rem;
    line-height: 1.4;
    color: var(--gray);
    opacity: 1;
    transition:
      0.3s ease color,
      0.3s ease border-color;
    &.in-view {
      color: var(--dark);
    }
  }

  & > li:has(> a.in-view) {
    border-left-color: var(--secondary);
  }

  @for $i from 0 through 6 {
    & .depth-#{$i} {
      margin-left: calc(0.85rem * #{$i});
    }
  }
}
